{% extends "Main/layout.html" %} 
{%load static %}

{%block header %}
<link rel="stylesheet" href="{% static 'Authentication/styleAuth.css' %}" />
{% endblock %}

{% block body %}


<div class="card">

  <form action="{% url 'login' %}" method="post">
    <i  class="fa-regular fa-futbol fa-bounce fa-2xl"></i>
    <h2>Welcome Back!</h2>
    {% csrf_token %}
    <div class="form">

        <div class="form-group">
          <input
            autofocus
            class="form-control"
            type="text"
            name="username"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <span style="color: red;">{{message}}</span>
        <input class="btn btn-primary" type="submit" value="Login" />

    </div>
  </form>
  <div class="end">
    Dont have an account? <a href="{% url 'register' %}">Register here.</a>
  </div>

</div>








{% endblock %}
