html{
  overflow-x: hidden !important;
  font-family: Arial, Helvetica, sans-serif;
}
main{ 
  width: 100%;
  margin-left: 14rem; 
  width: calc(100% - 14rem); 
  padding: 1rem;
  height: 100%

}

body{
  color: #333;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100%;
  justify-content: flex-end;
  flex-direction: column;
}



.SideNavbar {
    height: 100vh;
    width: 14rem;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    border: 1px solid #ccc;
  }
  
  .SideNavbar a {
    padding: 10px 15px;
    text-decoration: none;
    width: 100%;
    display: block;
    color: #333;
    
  }
  
  .SideNavbar a:hover {
    background-color: #dd013f;
  }

 
  .SideNavbar a.active:hover {
    background-color: white;
  }

  .navbarSeparator{
    margin-top: 3px;
    margin-bottom: 3px;
    
  }

  #LeipzigFocus.focus {
    transform: scale(1.1); 
  }

  .Myprofile{
   
    position: fixed;
    padding: 10px;
    height: 200px;
    font-size: 100%;
  }



  
 body .footer{
  margin-top: auto;
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: #dd013f;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
}

.footer .social_icon, 
.footer .menu{
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.footer .social_icon li,
.footer .menu li{
  list-style: none;
}

.footer .social_icon li a{
  font-size: 2em;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.footer .social_icon li a:hover{
  transform: translateY(-10px);
}

.footer .menu li a{
  font-size: 2em;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

.footer .menu li a:hover{
  opacity: 1;
}

.footer p{
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.footer .wave {
  position: absolute;
  top: -8%; 
  left: 0;
  width: 40%; 
  height: 100%;
  border-radius: 50% / 20%; 
  background: #dd013f;
  background-size: 1000px 100px;
  animation: animateWave 4s linear infinite;
  z-index: -1;
}


.footer .wave {
  top: -8%; 
  width: 40%; 
  height: 100%;
  position: absolute;
  border-radius: 50% / 20%; 
  background: #dd013f;
  background-size: 1000px 100px;
}

.footer #wave1{
  left: -10%;
  animation: animateWave 5s linear infinite;
  z-index: -1;
}
.footer #wave2{
  left: 100%;
  animation: animateWave2 5s linear infinite;
  z-index: -2;
}


@keyframes animateWave {
  0%{
    left: -10%;
  }
  50%{
    left: 100%;
  }
  100%{
    left: -10%;
  }
}

@keyframes animateWave2 {
  0%{
    left: 100%;
  }
  50%{
    left: -10%;
  }
  100%{
    left: 100%;
  }
}


