.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 150px; /* Fixed width */
    height: 250px; /* Fixed height */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.image {
    width: 150px;
}

.card-details {
    padding: 20px;
}

.card-details h2 {
    margin-top: 0;
}

.card-details a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


.stadium-title{
    text-align: center;
    margin-bottom: 20px;
    color: #d00000;
}
.booking-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;          
}
