{% extends "Main/layout.html" %} {% load static %} {% block body %}
<head>
    <link rel="stylesheet" href="{% static 'Main/stylebooking.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div id="book-container">
    <div class="book-header">
        <h2>Book {{field.name}}</h2> 
        <a href="javascript:history.go(-1)" class="book-button"><i class="fa-solid fa-arrow-left"></i></a>   
    </div>
    
    <div class="form-container">
        <form method="post" class="form">
            {% csrf_token %}
            <label for="date">Date:</label>
            <input type="date" name="date" required>
            <br>
            <label for="start_time">Start Time:</label>
            <input type="time" name="start_time" required>
            <br>
            <label for="end_time">End Time:</label>
            <input type="time" name="end_time" required>
            <br>
            <input type="submit" value="Book">
        </form>
    </div>
</div>
{% endblock%}